/* buttons */
a.button:any-link, button, .button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid currentcolor;
  border-radius: 6px;
  padding: 14px 40px;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: #0b132b;
  color: #ffffff;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover, a.button:focus, button:hover, button:focus {
  background-color: #000000;
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: #cccccc;
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: #ffffff;
  border: 2px solid currentcolor;
  color: #000000;
}
